.form1{
    align-content: center;
    align-items: center;
    alignment: center;
    width: 300px;
    background-color: whitesmoke;
    box-shadow: 0 0 3px 0 grey;
    padding: 20px;
    margin: 8% auto;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Baskerville Old Face";
    background-image: url("images/sunrisebackground.jpg");
    background-size: cover;
}
.form1 h1{
    color: crimson;
    margin-bottom: 20px;
    text-decoration:underline crimson;
}
.inputbox{
    border-color: black;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
}
.inputbox input placeholder{
    color: aquamarine;
}
button{
    font-size: 17px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signupbtn{
    background-color: deepskyblue;
    color: white;
    border-radius: 10px;
}
.signupbtn1{
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}
a{
    text-decoration: none;
 }
a:hover{
    color: crimson;
    transform: translateX(-10px);
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    font-size: 25px;
    color: black;
    margin: -25px auto 10px;
    background: #fff;
    width: 45px;
}
img{
    width: 70px;
}
.signupbtn1 img{
    width: 25px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: -5px;
}






