body{
    font-family: "Baskerville Old Face";
    background-color: gainsboro;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
P{
    color: black;
}
.container{
    max-width: 1300px;
    margin:auto ;
    padding-left: 25px;
    padding-right: 25px;
}
nav ul li:hover{
    color: crimson;
    font-size: 20px;
    font-family: Bahnschrift;
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    padding: 30px 0;
    width:550px;
    height: 200px;
}
.col1 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.button{
    display: inline-block;
    color: whitesmoke;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    background: cornflowerblue;
    transition: background 0.5s
}
.button:hover{
    background: linear-gradient(crimson,aqua);
}
.header{
    background: radial-gradient(white,lightcoral);
}
.header .row{
    margin-top: 10px;
}
.category{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
    min-height: 150%;
}
.smallcontainer{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col4{
    flex-basis:25% ;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px ;
    position: relative;
    line-height: 50px;
    color: lightcoral;
}
.title::after{
    content: '';
    background: cornflowerblue;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col4 p{
    font-size: 15px;
}
.col4:hover{
    transform: translateY(-8px);
}
.offer h3{
    text-align: center;
    margin: 0 auto 80px ;
    position: relative;
    line-height: 50px;
    color: lightcoral;
}
.offer h3::after {
    content: '';
    background: cornflowerblue;
    width: 100px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col5 p{
    text-transform: uppercase;
    font-size: 20px;
}
.col10 img{
    width: 500px;
    height: 500px;
}
.offer{
    background: linear-gradient(dimgray,snow);
}
.col5 h4{
    font-size: 30px;
    color: black;
    font-family: Bahnschrift;
}
.testimonials{
    margin-top: 19px;
    background: linear-gradient(gainsboro,deepskyblue);
    padding: 20px;
}
.testimonials h2{
    text-align: center;
    margin: 0 auto 80px ;
    position: relative;
    line-height: 50px;
    color: lightcoral;
}
.testimonials h2::after {
    content: '';
    background: cornflowerblue;
    width: 200px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-55%);
}
.testimonials img{
    border: 3px black dotted;
    border-radius: 50%;
    border-style: dotted;
    cursor: pointer;
}
.testimonials p{
    text-align: center;
}
.testimonials h3{
    text-align:center;
    color: darkorange;
}
.testimonials.col3:hover {
    transition: transform 0.6s;
    transform: translateY(20%);
}
.testimonials.col3{
    box-shadow: dimgray;
}
.brands{
    background: linear-gradient(magenta,blueviolet);
}
.brands h2{
    text-align: center;
    margin: 0 auto 80px ;
    position: relative;
    line-height: 50px;
    color: lightcoral;
}
.brands h2::after {
    content: '';
    background: cornflowerblue;
    width: 200px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.brands{
    margin: 100px auto;
}
.col5 img{
    width: 130px;
    cursor: pointer;
    filter: grayscale(100%);
    height: 100px;
}
.col5{
    width: 150px;
}
.col5 img:hover{
    filter: grayscale(0%);
}
.footer{
    background: linear-gradient(crimson,hotpink);
}
.footer h2{
    text-align: center;
    margin: 0 auto 80px ;
    position: relative;
    line-height: 50px;
    color: lightcoral;
}
.footer h2::after {
    content: '';
    background: cornflowerblue;
    width: 75px;
    height: 7px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer4 ul li{
    list-style-type: none;
    width: 50px;
    height: 50px;
}
.footer1,.footer2,.footer3,.footer4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer1{
    flex-basis: 30%;
}
.footer1 img{
    width: 150px;
    height: 100px;
    cursor: pointer ;
}
.footer2 img{
    width: 150px;
    height: 50px;
}
.footer4 ul li img{
    width: 30px;
    height: 30px;
}
.footer h3{
    color: deepskyblue;
}